<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Otro ejemplo</title>
</head>
<body>
  <h1>Esta es una página adicional</h1>

  <h2>Texto de prueba y los botones de antes</h2>

  <a href="/login"><button>Login</button></a>

  <a href="/restricted"><button>Ir a Página Restringida</button></a>
</body>
</html>